.update-pass-ui {
    display: flex;
    flex-direction: column;
}
.account-password-wrapper {
    position: relative;
    display: flex;
}
.account-visibility-icon {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: scale(0.8);
}
.account-buttons {
    display: flex;
    flex-direction: row;
}